* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#navbar ul li a{

    text-transform: uppercase;
    margin: 0 .5rem;
}

#main-section{
    margin: 6rem auto;
    padding: 3rem;
}


.center{
    text-align: center;
    align-items: center;
}

.para{
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

.half{
    min-width: fit-content;
    max-width: 30rem;
    display: inline-block;
}

