* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#navbar ul li a{

    text-transform: uppercase;
    margin: 0 .5rem;
}

/* HEADER  */

    header{
        background: url("./img/header.jpg") no-repeat center center/cover;
        height: 93vh;
        background-attachment: fixed;
    }

    /* main */
    @charset "utf-8";

.eZOPTo { font-size: 48px; line-height: 64px; font-family: "Saol Regular"; font-weight: 400; color: rgb(19, 30, 41); text-align: center; }

@media (max-width: 350px) {
  .eZOPTo { font-size: 36px; line-height: 50px; }
}

.jKsjCv { font-size: 48px; line-height: 64px; font-family: "Saol Regular"; font-weight: 400; color: rgb(19, 30, 41); }

@media (max-width: 350px) {
  .jKsjCv { font-size: 36px; line-height: 50px; }
}

.hJcoiC { font-size: 14px; font-family: "Silka Regular"; line-height: 24px; letter-spacing: 0.8px; font-weight: 400; color: rgb(19, 30, 41); margin-bottom: 32px; text-align: center; }

.kwuLmZ { font-size: 14px; font-family: "Silka Regular"; line-height: 24px; letter-spacing: 0.8px; font-weight: 400; color: rgb(19, 30, 41); margin-top: 8px; margin-bottom: 16px; text-align: center; }

.hoWrVJ { font-size: 14px; font-family: "Silka Regular"; line-height: 24px; letter-spacing: 0.8px; font-weight: 400; color: rgb(19, 30, 41); }

.bfhrdd { position: relative; color: rgb(255, 255, 255); font-size: 13px; overflow: hidden; font-family: "Silka Regular"; letter-spacing: 3px; text-transform: uppercase; height: 15px; user-select: none; display: inline-block; text-decoration: none; }

.bfhrdd:hover { cursor: pointer; }

.eWtxjq { position: relative; color: rgb(255, 255, 255); font-size: 13px; overflow: hidden; font-family: "Silka Regular"; letter-spacing: 3px; text-transform: uppercase; height: 15px; user-select: none; display: inline-block; text-decoration: none; margin-right: 32px; }

.eWtxjq:hover { cursor: pointer; }

.hYbhyI { position: relative; color: rgb(19, 30, 41); font-size: 13px; overflow: hidden; font-family: "Silka Regular"; letter-spacing: 3px; text-transform: uppercase; height: 15px; user-select: none; display: inline-block; text-decoration: none; }

.hYbhyI:hover { cursor: pointer; }

.hiOgiP { position: relative; color: rgb(19, 30, 41); font-size: 13px; overflow: hidden; font-family: "Silka Regular"; letter-spacing: 3px; text-transform: uppercase; height: 15px; user-select: none; display: inline-block; text-decoration: none; margin-right: 32px; }

.hiOgiP:hover { cursor: pointer; }

.iWgmGQ { display: flex; }

.cqMyvq { width: 96px; display: flex; -webkit-box-pack: justify; justify-content: space-between; }

.fsTVxr { width: 15px; height: 15px; transition: all 0.2s ease 0s; }

.fsTVxr:hover { opacity: 0.5; transition: all 0.2s ease 0s; cursor: pointer; }

.cxkjvk { font-size: 14px; font-family: "Silka Regular"; line-height: 24px; letter-spacing: 0.8px; font-weight: 400; text-decoration: underline; transition: all 0.25s ease 0s; }

.cxkjvk:hover { opacity: 0.5; transition: all 0.25s ease 0s; }

.joMkpo { position: fixed; width: 100vw; height: 112px; z-index: 10; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; padding: 0px 64px; background: transparent; border: none; top: 0px; }

@media (max-width: 825px) {
  .joMkpo { top: 0px; padding: 0px 32px; height: 80px; }
}

.kQtwvW { position: fixed; top: -112px; width: 100vw; height: 112px; z-index: 10; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; padding: 0px 64px; background: rgb(255, 255, 255); border-bottom: 1px solid rgb(234, 235, 240); }

@media (max-width: 825px) {
  .kQtwvW { top: -80px; padding: 0px 32px; height: 80px; }
}

.gMOrfe { width: 168px; transition: all 0.8s ease 0s; position: absolute; left: 50%; transform: translateX(-50%); }

.gMOrfe:hover { cursor: pointer; opacity: 0.5; transition: all 0.1s ease 0s; }

@media (max-width: 825px) {
  .gMOrfe { display: none; }
}

.kkbGbh { width: 32px; transition: all 0.8s ease 0s; position: absolute; left: 50%; transform: translateX(-50%); }

.kkbGbh:hover { cursor: pointer; opacity: 0.5; transition: all 0.1s ease 0s; }

@media (min-width: 826px) {
  .kkbGbh { display: none; }
}

.foTzfB { display: flex; -webkit-box-align: center; align-items: center; }

@media (max-width: 825px) {
  .foTzfB a:first-of-type { display: none; }
}

.hTVKaN { border-top: 1px solid rgb(234, 235, 240); display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.dmovsW { padding: 80px 20px; display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.fDOqZh { display: grid; grid-template-columns: repeat(6, auto); gap: 32px; }

@media (max-width: 800px) {
  .fDOqZh { grid-template-columns: 1fr; }
  .fDOqZh div { -webkit-box-pack: center; justify-content: center; }
}

.kzpUEc { margin-bottom: 50px; display: flex; -webkit-box-align: center; align-items: center; }

.harZrG { width: 50px; cursor: pointer; }

.fptVDr { width: 1px; height: 40px; background: rgb(234, 235, 240); margin: 0px 20px; }

.iaGwrE { width: 100%; border-top: 1px solid rgb(234, 235, 240); padding: 40px 50px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; }

@media (max-width: 800px) {
  .iaGwrE { flex-direction: column; }
  .iaGwrE p { text-align: center; }
  .iaGwrE, .iaGwrE p:last-of-type { margin-bottom: 32px; }
}

.kPCXzg { display: flex; flex-direction: column; align-items: flex-end; }

@media (max-width: 800px) {
  .kPCXzg { -webkit-box-align: center; align-items: center; }
}

.ettdCx { margin-top: 0px; }

@media (max-width: 425px) {
  .ettdCx { margin-top: 0px; }
}

.bNWlvX { display: flex; -webkit-box-align: center; align-items: center; }

@media (max-width: 425px) {
  .bNWlvX { flex-direction: column; }
}

.dJZDVO { margin: 0px 16px 2px; }

@media (max-width: 425px) {
  .dJZDVO { margin: 8px 0px; }
}

.epetpC { width: 100%; display: grid; gap: 20px; grid-template-columns: 1fr 1fr; }

@media (max-width: 425px) {
  .epetpC { gap: 8px; }
}

.RykWL { position: relative; padding-bottom: 50%; margin-bottom: 20px; transition: all 0.3s ease 0s; }

@media (max-width: 425px) {
  .RykWL { margin-bottom: 8px; }
}

.dSaEgB { position: absolute; height: 100%; width: 100%; object-fit: cover; }

.eWFxIj { width: 100%; display: grid; grid-template-columns: 2fr 1fr; gap: 20px; position: relative; }

@media (max-width: 425px) {
  .eWFxIj { gap: 8px; }
}

.dfIlRy { display: grid; grid-template-rows: 1fr 1fr; gap: 20px; height: auto; }

@media (max-width: 425px) {
  .dfIlRy { gap: 8px; }
}

.loyPra { width: 100%; height: 100%; position: relative; }

.gpkCkk { width: 100%; padding-bottom: 100%; position: relative; }

.caWYtC { height: 100%; width: 100%; position: absolute; object-fit: cover; transition: all 0.3s ease 0s; }

.gHGYgf { width: 100%; display: grid; grid-template-columns: 1fr 1fr; gap: 20px; position: relative; }

@media (max-width: 425px) {
  .gHGYgf { gap: 8px; }
}

.idHIFz { padding-bottom: 177%; width: 100%; position: relative; transition: all 0.3s ease 0s; }

.jUtnRf { height: 100%; width: 100%; position: absolute; object-fit: cover; }

.dfCjHn { width: inherit; display: inherit; flex-direction: inherit; -webkit-box-pack: inherit; justify-content: inherit; -webkit-box-align: inherit; align-items: inherit; }

.gDWzmE { width: 100%; }

.emMzYh { margin: 0px auto; padding: 128px 15vw; display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; }

@media (max-width: 1440px) {
  .emMzYh { max-width: 1024px; padding: 128px 24px; }
}

@media (max-width: 768px) {
  .emMzYh { max-width: 100%; padding: 32px 24px; }
}

@media (max-width: 425px) {
  .emMzYh { max-width: 100%; padding: 64px 24px; }
}

.iUamJH { height: 64px; }

.cWQVUX { height: 100vh; object-fit: cover; }

.fLRtzX { position: absolute; bottom: 3rem; left: 50%; transform: translateX(-50%); }

.fLkmZA { height: 50%; width: 100%; background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%); position: absolute; top: 0px; left: 0px; }

.hnJVez { height: 50%; width: 100%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%); position: absolute; bottom: 0px; left: 0px; }

.djfRnz { width: 100%; }

.gsFYLq { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; max-width: 600px; }

.fcjeCN { margin: 0px auto; padding: 0px 15vw 128px; display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; }

@media (max-width: 1440px) {
  .fcjeCN { max-width: 1024px; padding: 32px 24px; }
}

@media (max-width: 768px) {
  .fcjeCN { max-width: 100%; padding: 32px 24px; }
}

@media (max-width: 425px) {
  .fcjeCN { max-width: 100%; padding: 64px 24px; }
}
