* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Bhai 2', cursive;
    /* font-family: 'Romanesco', cursive; */
    /*  */
}






#navbar ul li a{

    text-transform: uppercase;
    margin: 0 .5rem;
}


#main-logo{
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-logo a{
    text-decoration: none;
    color: #000;
}

.voucher{
    border: 0.1rem solid #000;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.container .box-container .box{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
}

.container .box-container .box img{
    height: 30vh;
}




















.center{
    text-align: center;
}